* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3992c5;
}

._container {
  max-width: 1120px;
  margin: 0 auto;
}

.timer {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.moves {
}

.game-block {
  position: relative;
}

.btn-start {
  position: absolute;
  left: 50%;
  top: 250px;
  width: 150px;
  height: 100px;
  transform: translateX(-50%);
  border-radius: 10px;
  border: none;
  background: #0ce63b;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.28s ease-in;
}

.btn-start:hover {
  cursor: pointer;
  color: #0ce63b;
  border: 4px solid #0ce63b;
  background: #fff;
}

.game-board {
  position: relative;
  border-spacing: 20px;
}

.disabled {
  pointer-events: none;
}

.game-board td {
  width: 150px;
  height: 150px;
  overflow: hidden;
  background: #0a4364;
  text-align: center;
  transition: all 0.28s ease;
}

.game-board td:hover {
  cursor: pointer;
}

.game-board td:not(.hidden) {
  background: rgba(230, 52, 96, 0.5);
}

.game-board img {
  width: 70%;
  object-position: center;
  object-fit: contain;
}

.hidden img {
  opacity: 0;
}

.row {
  display: flex;
  /* justify-content: space-between; */
}

fieldset > label {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.tool-bar button:has(:checked) {
  background: #10eb90;
}

.tool-bar button {
  border: none;
  border-radius: 5px;
  overflow: hidden;
  background: #979494;
}

.tool-bar button:not(.tool-bar button:last-child) {
  margin-right: 15px;
}

.tool-bar button:nth-child(2) {
  margin-left: auto;
}

.tool-bar button > label {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 70px;
  height: 35px;
  color: #fff;
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
}
